# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Common
node_modules/
.DS_Store
*.pem
*.tsbuildinfo

# Infrastructure repo
cdk.out/

# Website repo
.next/
out/
next-env.d.ts
