@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-rgb: 0, 0, 0;
    }
}

body {
    font-size: medium;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb))
}

@layer utilities {
    .image-border-white {
        filter: drop-shadow(5px 0 0 white) drop-shadow(0 5px 0 white) drop-shadow(-5px 0 0 white) drop-shadow(0 -5px 0 white);
    }
}