@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-rgb: 0, 0, 0;
    }
}

body {
    font-size: medium;
    color: rgb(var(--foreground-rgb));  
    background: rgb(var(--background-rgb))
}

@layer utilities {
    .image-border-white {
        filter: drop-shadow(5px 0 0 white)
        drop-shadow(0 5px 0 white)
        drop-shadow(-5px 0 0 white)
        drop-shadow(0 -5px 0 white);
    }
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 0.125rem;
        height: calc(100% + 1rem);
        margin-left: 13px;
        background: linear-gradient(
            to bottom,
            #55604E 0%,
            #55604E calc(100% - 2rem),
            transparent 100%
        );
    }

    li {
        display: grid;
        position: relative;
        grid-template-columns: auto 1fr;
        grid-template-areas: "icon content";
        gap: 1rem;

        & > .timeline-icon {
            grid-area: icon;
        }

        & > .timeline-description {
            grid-area: content;
        }
    }


}

.timeline--full {
    @media (min-width: 640px) {
        gap: 0;

        &::before {
            margin-left: 50%;
            transform: translateX(-50%);
        }

        li {
            height: calc(80%);
            grid-template-columns: 1fr auto 1fr;
            &:nth-child(odd) {
                grid-template-areas: "content icon .";
                text-align: right;
            }
            &:nth-child(even) {
                grid-template-areas: ". icon content";
            }
            & > .timeline-description {
                /* margin-bottom: calc(-100%); */
            }
        }
    }
}
